:root{
    --rojo:#e50914;
    --fondo:#141414;

}

*{
    margin:0;
    padding: 0;

    box-sizing: border-box;
    
}

/*Contenedor*/
.contenedor{
    width: 90%;
    margin: auto;
    
}
body{
    background-color: var(--fondo);
    font-family: 'Open Sans', sans-serif;
}

/*HEADER*/
.main-header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .logo{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: var(--rojo);
    font-size: 40px;
}

.main-header .main-nav a{
    color:#aaa;
    text-decoration: none;

}


.main-nav a:hover{
    color: white;

}

.main-nav a.white-link{
    color:white;
}

/*Pelicula principal*/

.pelicula-principal{

    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,.50)0% ,rgba(0,0,0,.5)100%), url("../images/peliPrincipal.jpg");
    background-size: cover;
    background-position: center center;
    margin-bottom: 3.12em;
    
    display: flex;  
    align-items: flex-end;
    
}

.pelicula-principal .contenedor{
    
    margin:0 auto;
    
}

