:root{
    --rojo:#e50914;
    --fondo:#141414;

}

*{
    margin:0;
    padding: 0;

    box-sizing: border-box;

}

/*Contenedor*/
.contenedor{
    width: 90%;
    margin: auto;

}
body{
    background-color: var(--fondo);
    font-family: 'Open Sans', sans-serif;
}

/*HEADER*/
.main-header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .logo{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: var(--rojo);
    font-size: 40px;
}

.main-header .main-nav a{
    color:#aaa;
    text-decoration: none;

}

.main-nav a{
    padding: 0 .2em;
}
.main-nav a:hover{
    color: white;

}

.main-nav a.white-link{
    color:white;
}

/*Contenedor titulo y controles*/

.peliculas-recomendadas_titulo-controles{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.peliculas-recomendadas_titulo-controles h3{
    color: white;
    font-size: 30px;
}

.peliculas-recomendadas_titulo-controles .indicadores button{
   width: 10px;
   height: 3px;
   border: none;
   background-color: white;
   cursor: pointer;
   margin-right: 2px;
}

.indicadores button:hover{
    background-color: red;
}
.indicadores button.activo{
    background-color: red;
}
/*Pelicula principal*/

.pelicula-principal{

    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,.50)0% ,rgba(0,0,0,.5)100%), url("../images/peliPrincipal.jpg");
    background-size: cover;
    background-position: center center;
    margin-bottom: 3.12em;

    display: flex;
    align-items: flex-end;

}

.pelicula-principal .contenedor{

    margin:0 auto;
    margin-bottom: 6.25em;
}

.pelicula-principal .titulo{
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom:0.4em;
}

.pelicula-principal .descripcion{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 60%;
    margin-bottom: 1.25em;
}

.pelicula-principal .boton{
    background: rgba(0, 0, 0, .5);
    border:none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color:#fff;
    margin-right: 1.25em;
    cursor:pointer;
    transition: .3s ease all;
    font-size: 1.12em;
}

.pelicula-principal .boton:hover{
    background: #fff;
    color: #000;
}

.pelicula-principal .boton i{

    margin-right: 1.25em;
}

/*Peliculas recomendadas*/

.peliculas-recomendadas{
    margin-bottom: 70px;
}

.peliculas-recomendadas .carousel_main-contenedor{
    display: flex;
    align-items: center;
    position: relative;
}

.peliculas-recomendadas .carousel_main-contenedor .flecha-izquierda,
.peliculas-recomendadas .carousel_main-contenedor .flecha-derecha{
    position: absolute;
    background-color: rgba(0,0,0,0.3);

    font-size: 40px;
    color:white;
    border:none;

    height: 50%;

    line-height: 40px;

    top: calc(50% - 25%);
    cursor:pointer;
    transition: .2s ease all;

}

.peliculas-recomendadas .carousel_main-contenedor .flecha-izquierda:hover,
.peliculas-recomendadas .carousel_main-contenedor .flecha-derecha:hover{
    background-color: rgba(0,0,0,.9);
}


.peliculas-recomendadas .carousel_main-contenedor .flecha-izquierda{
    left: 0;
}
.peliculas-recomendadas .carousel_main-contenedor .flecha-derecha{
    right: 0;
}
/*Carousel*/

.peliculas-recomendadas .carousel{
    overflow: hidden;
    /* overflow-x: scroll; */
    scroll-behavior:smooth;
    padding: 20px 0;
}

.peliculas-recomendadas .carousel .peliculas-group{
    display: flex;
    flex-wrap: nowrap;
}

.peliculas-recomendadas .carousel .peliculas-group .pelicula{
    min-width: 20%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,.3);
}
.peliculas-recomendadas .carousel .peliculas-group .pelicula.hover{
    transform: scale(1.2);
    transform-origin: center;
}

.peliculas-recomendadas .carousel .peliculas-group .pelicula img{
    width: 100%;
    vertical-align: top;
}
@media(max-width:800px){
    .main-header .logo{
        margin-bottom: 10px;
        font-size: 30px;
    }

    .main-header .contenedor{
        flex-direction: column;
        text-align: center;

    }

    .pelicula-principal{
        font-size: 14px;
    }

    .pelicula-principal .descripcion{
        max-width: 100%;
    }

    /*Carousel*/
    .peliculas-recomendadas .carousel{
        overflow: visible;
    }
    .peliculas-recomendadas .carousel .peliculas-group{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    .peliculas-recomendadas .indicadores,
    .peliculas-recomendadas .flecha-izquierda,
    .peliculas-recomendadas .flecha-derecha{
        display: none;
    }

}
